.title-create-recipe {
    height: 50px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    margin-left: 20px;
    font-size: larger;
    border-bottom: 1px gray solid;
}


.outer-container{
    display: flex;
    flex-direction: row;
}

.left-side-inner-container{
    height: 100%;
    width: 320px;
    align-items: center;
    justify-content: center;
}

.right-side-inner-container{
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.title-input, .description-input{
    width: 90%;
    margin-bottom: 10px;
    right: 0;
    border: 1px solid #c5c5c5;
    outline: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: rgb(241,241,241);
    border-radius: 5px;

}

.title-input{
    height: 30px;
}

.description-input{
    height:200px;

}

.submit-btn{
    border-radius: 17px;
    height: 42px;
    width: 95px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    border: none;
    background-color: #fcba03;
    margin-top: 20px;
;
}

.submit-btn:hover {
    cursor: pointer;
    background-color: rgb(222, 172, 58);
    transition: background-color 0.5s;
}

.description-label, .title-label{
    width: 90%;
    font-weight: 300;
    font-family: "Helvetica Neue", sans-serif;
    color: gray;
    margin-bottom: 10px;
    margin-top: 10px;

}